/*$secondary-color: rgb(183, 159, 80);*/
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
* {
  margin: 0;
}

body {
  margin-bottom: 60px;
}

main {
  background-color: #024333;
  width: 100%;
}

header {
  height: 10rem;
  background-color: #024333;
  color: white;
  text-align: center;
}

header .address {
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #09755a;
}

header .address a {
  color: white;
}

header .restaurant-name {
  margin-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .restaurant-name h1 {
  font-family: "Great Vibes";
  font-size: 70px;
  margin-right: 15px;
}

header .restaurant-name p {
  margin-top: -7%;
}

header .restaurant-name a {
  display: inline-block;
  color: #41b14a;
}

#landing-wrapper {
  height: 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/chandi_bg2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/chandi_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-width: 100%;
  opacity: 0.85;
}

nav {
  background-color: #024333;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav #navbarNav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #navbarNav .active {
  color: white;
}

nav #navbarNav ul li {
  padding: 0 2rem;
}

nav #navbarNav ul li a {
  color: #41b14a;
}

nav .navbar-toggler-icon {
  color: white;
}

nav .nav-link {
  color: white;
}

/********** FOOTER ***********/
footer {
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #09755a;
}

footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper {
  height: 70%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
}

footer .footer-wrapper .icon-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 15px;
  color: white;
}

footer .footer-wrapper .icon-container a {
  color: white;
}

footer .footer-wrapper .icon-container a i {
  font-size: 30px;
  padding: 0 8px;
}

footer .footer-wrapper .icon-container a #mail {
  margin-top: 2px;
  margin-right: 10px;
}

footer .footer-wrapper .footer-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  top: 8px;
}

footer .footer-wrapper .footer-links button {
  margin-left: 20px;
  margin-top: -5%;
}

#intro {
  height: 430px;
  background-color: #fcf6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro p {
  margin: 10%;
  background-color: yellow;
}

.center-column {
  background-color: #024333;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
  color: white;
}

.center-column img {
  width: auto;
  height: auto;
  opacity: 0.8;
}

.center-column .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#author {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#author a {
  font-size: 14px;
  color: white;
}
/*# sourceMappingURL=styles.css.map */